.row {
  border: 1px black solid;
}

p {
  text-align: center;
}

h1 {
  text-align: center;
}

#continue {
  border: 1px solid black;
}

#left-stitch {
  font-family: "Roboto Condensed", sans-serif;

  text-align: right;
  font-size: 25px;
  position: absolute;
  right: 11%;
  top: 10px;
}

#right-stitch {
  font-family: "Roboto Condensed", sans-serif;

  text-align: left;
  font-size: 25px;
  position: absolute;
  left: 11%;
  top: 10px;
}

.col-5 {
  border: 1px solid black;
  position: relative;
}
.col-2 {
  border: 1px solid black;
}

.needle {
  position: relative;
  top: 15px;
  width: 100%;
  height: 25px;
}
